/*
#121212
rgb(18,18,18)
*/

.main {
   width: 80%;
   margin: auto;
   margin-top: 7rem;
   /* background-color: #1f2020; */
}
.search {
   display: flex;
   margin-top: 2rem;
   justify-content: space-between;
   align-items: center;
}

.search input {
   padding: 0.5rem 5rem 0.5rem 5rem;
   border-radius: 0.5rem;
}

.messages {
   margin: auto;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2rem;
   margin-top: 1rem;
   border-radius: 0.5rem;
}

.messagesDetails {
   display: flex;
   padding: 1rem;
   border-radius: 0.5rem;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.artistDetails span {
   display: flex;
   flex-direction: columns;
   margin-left: 2rem;
   margin-top: 1rem;
}

.imgCard img {
   border-radius: 0.5rem;
}
