/*
#121212
rgb(18,18,18)
*/

.messages {
   margin: auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
   margin-top: 1rem;
   border-radius: 0.5rem;
}

/*
box-shadow: .4rem .4rem 1rem #111, -.4rem -.4rem 1rem #333;
box-shadow-index:.4rem .4rem 1rem #111 inset, -.4rem -.4rem 1rem #333 inset;
*/

.messagesDetails {
   display: flex;
   padding: 1rem;
   border-radius: 0.5rem;
   box-shadow: 0.4rem 0.4rem 1rem #111, -0.4rem -0.4rem 1rem #333;
   box-shadow-index: 0.4rem 0.4rem 1rem #111 inset,
      -0.4rem -0.4rem 1rem #333 inset;
}
/* box-shadow: 0 0 10px rgba(225, 225, 225, 0.5); */

@media (max-width: 768px) {
   .messages {
      margin: auto;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
      margin-top: 1rem;
      border-radius: 0.5rem;
   }
}
