.main {
   display: flex;
   width: 70%;
   height: 100%;
   margin: auto;
   margin-top: 7rem;
   padding-top: 4rem;
   justify-content: center;
   align-items: center;
   gap: 2rem;
}
.img {
   border-radius: 0.5rem;
}

.priceBuy {
   display: flex;
   justify-content: spacing-evenly;
   align-items: center;
   gap: 1rem;
}

/* 
@media screen and (max-width: 768px) {
   .main {
      display: fex;
      flex-direction: columns;
   }
} */

@media screen and (max-width: 768px) {
   .main {
      display: grid;
      grid-template-columns: 1fr;
   }
}
