.main {
   width: 80%;
   margin: auto;
   margin-top: 7rem;
}
.search {
   display: flex;
   margin-top: 2rem;
   justify-content: center;
}

.search input {
   padding: 0.5rem 5rem 0.5rem 5rem;
   border-radius: 0.5rem;
}

.songs {
   margin: auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
   margin-top: 1rem;
   border-radius: 0.5rem;
}

.songDetails {
   display: flex;
   padding: 0.5rem;
   border-radius: 0.5rem;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   /* border: 1px solid blue; */
}

.artistDetails span {
   display: block;
   padding: 0.5rem;
}

.imgCard img {
   border-radius: 0.5rem;
}

.actions {
   display: flex;
}
