.songDetails {
   display: flex;
   padding: 0.5rem;
   border-radius: 0.5rem;
   box-shadow: 0 0 10px rgba(225, 225, 225, 1);
}

.artistDetails span {
   display: block;
   padding: 0.5rem;
}

.imgCard img {
   border-radius: 0.5rem;
}

.actions {
   display: flex;
}
